* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ----------------------common---------------------------- */

/* header */
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

a {
  text-decoration: none;
}
/* code cho phần header */

.header {
  background: #fffcf4;
  /* position:-webkit-sticky; */
  position: sticky;
  top: 0px;
  z-index: 1;
}
.header .body {
  display: flex;
  padding: 36px 0 8px;
  align-items: center;
}

.nav ul {
  display: flex;
  /* width: 359px; */
  /* height: 28px; */
  margin-right: 70px;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.btn {
  display: inline-block;
  border-radius: 24.5px;
  background: #171100;
  color: #faf7f7;
  font-size: 16px;
  font-weight: 600;
  min-width: 118px;
  line-height: 50px;
  /* height:50px; */
  padding: 0 16px;
  text-align: center;
}
.header .btn-sign-up {
  max-width: 144px;
}
/* ............................main.................................. */
.hero {
  background: #fffcf4;
}
.hero .body {
  padding: 75px 0 65px;
  display: flex;
}
.hero .hero-right {
  position: relative;
  margin-bottom: 65px;
  width: 470px;
  height: 685px;
  border-radius: 20px;
}
.hero .hero-summary {
  width: 270px;
  height: 244px;
  top: 393px;
  left: 300px;
  border-radius: 12px;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main .item {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.hero .info .label {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.hero .info .title {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.hero .item .icon {
  width: 24px;
  height: 24px;
  margin-right: 28px;
  margin-left: 36px;
}

.hero .hero-left {
  width: 470px;
  height: 558px;
  border-radius: 32px;
  margin-left: 230px;
  margin-bottom: 128px;
  margin-top: 53px;
}
.hero-left h1 {
  color: #171100;
  font-family: Sen;
  font-size: 58px;
  /* font-style: normal; */
  /* font-weight: 700; */
  /* line-height: 68px;  */
  margin-bottom: 22px;
  line-height: 68px; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero-left p.text {
  color: #5f5b53;
  line-height: 30px; /* 166.667% */
  margin-bottom: 35px;
}
.hero-left .course-video {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.hero-left .btn-see-course {
  background-color: #ffb900;
}
.play-video {
  margin-top: 20px;
}
.course-video p {
  color: #171100;
  /* font-family: Poppins; */
  /* font-size: 18px; */
  /* font-style: normal; */
  font-weight: 600;
  /* line-height: 30px;  */
}
.recent-engagement {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.text-span {
  color: #171100;
  font-family: Sen;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
}
.hero-left .student-course {
  display: flex;
  gap: 28px;
}
/* ..................................courses................................................. */
.courses {
  /* height: 645px; */
  margin-top: 200px;
  margin-bottom: 200px;
}
.courses .text-courses {
  display: flex;
  align-items: center;
}
.courses .text-courses-title {
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}
.courses .text-courses-content {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 458px;
}
.courses .text-courses .icon-text-courses {
  margin-left: auto;
}

.items-courses .img-courses {
  width: 370px;
  height: 278px;
  flex-shrink: 0;
  border-radius: 12px 12px 0px 0px;
}

.courses .items-courses {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
}

.items-courses .item-1,
.items-courses .item-2,
.items-courses .item-3 {
  width: 370px;
  height: 466px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .demo-courses {
  display: flex;
  margin-right: 22px;
}

.courses .demo-courses .demo-text {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.courses .demo-courses .demo-icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: 6px;
  margin-top: 2px;
}

.courses .demo-courses .binh-chon {
  color: #fea31b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.courses .text-quang-ba-courses {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  width: 326px;
}
.courses .pricing-book {
  display: flex;
  align-items: center;
  width: 326px;
  padding: 22px;
}
.btn-book {
  margin-left: auto;
}
.pricing {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.item-1 .btn-book {
  background: #ffb900;
}

/* ...........................testimonial..................... */

.testimonial {
  height: 380px;
  top: 1945px;
  gap: 0px;
  opacity: 0px;
  background-color: #2e2100;
}
.testimonial .body {
  display: flex;
}

.testimonial .student-cv {
  width: 159px;
  height: 188px;
  flex-shrink: 0;
  /* padding:96px 0 271px; */
  margin-top: 96px;
  margin-bottom: 96px;
  margin-right: 271px;
}
.testimonial .student-name {
  color: #f7f7f7;
  font-family: Sen;
  font-size: 24px;

  font-weight: 700;
  line-height: 34px; /* 141.667% */
}

.testimonial .branch {
  color: #bfbcb2;

  font-size: 14px;

  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.img-ba-cham {
  width: 30px;
  height: 6px;
  flex-shrink: 0;
}

.student-comment {
  color: #fff;

  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px; /* 153.846% */
  width: 740px;
  margin-top: 124px;
  margin-bottom: 96px;
}
.student-comment::before {
  content: url(./asset/icon/nhay-kep.svg);
}

.features .body {
  display: flex;
  margin-top: 200px;
  height: 438px;
}
.img-features {
  display: flex;
  margin-right: 130px;
  gap: 30px;
}
.img-down {
  align-self: flex-end;
}
.img-up {
  align-self: flex-start;
}
.features .text-features-title {
  color: #171100;
  font-family: Sen;
  font-size: 38px;

  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
  width: 470px;
}
.features .text-features-content {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 458px;
  margin-top: 16px;
}
.text-features-impact {
  color: #5f5b53;

  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 458px;
  margin-top: 16px;
}
.btn-sign-up-features {
  background-color: #ffb900;
  margin-top: 32px;
}
.cta .body {
  height: 440px;
  display: flex;
  margin-top: 200px;
  margin-bottom: 200px;
  align-items: center;
}
.cta .text-cta-title {
  color: #171100;
  font-family: Sen;
  font-size: 38px;

  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
  width: 570px;
}
.cta .text-cta-content {
  color: #5f5b53;

  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 570px;
  margin-top: 16px;
  margin-bottom: 32px;
}
.cta .btn-join {
  background-color: #ffb900;
}
.cta .img-cta {
  margin-left: auto;
}

.blog .blog-title {
  color: #130606;
  text-align: center;
  font-family: Sen;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}
.blog .blog-content {
  width: 448px;
  margin: auto;
  color: #696262;
  text-align: center;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.blog .blog-items {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}
.blog .blog-item-1,
.blog .blog-item-2,
.blog .blog-item-3 {
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  height: 467px;
  border-radius: 0px 0px 16px 16px;
}
.blog .img-blog1 {
  width: 370px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 16px 16px 0px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.blog-date {
  color: #5f5b53;

  font-size: 14px;

  font-weight: 400;
  line-height: 26px; /* 185.714% */
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
}
.blog-date::before {
  content: url(./asset/icon/date.png);
  width: 6px;
  height: 6px;

  position: absolute;
  top: -2px;
  left: -10px;
}
.phan-cach {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin-top: 12px;
  margin-left: 20px;
}
.blog .blog-How-to {
  color: #171100;
  font-weight: 600;
  line-height: 28px; /* 175% */
  width: 330px;
  margin: 12px 20px;
}
.blog .btn-blog-readMore {
  margin-left: 20px;
}
.btn-blog-readMore.readMore-1 {
  background-color: #ffb900;
}
.blog .blog-icon {
  margin-top: 38px;
  margin-bottom: 96px;
  width: 30px;
  height: 6px;
  flex-shrink: 0;
  margin: 38px 570px 96px;
  /* margin: auto;
display: block; */
}
footer {
  background: #2e2100;
}
footer {
  height: 340px;
}
.row {
  display: flex;
  padding: 58px 0 38px;
}
.logo {
  color: #fff;
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
}
.text-column-1 {
  width: 267px;
  color: #bfbcb2;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  padding: 18px 0 18px;
}
.social {
  gap: 18px;
  display: flex;
}
.row .column:first-child {
  width: 412px;
}
.row .column:nth-child(2) {
  width: 260px;
}
.row .column:nth-child(3) {
  width: 267px;
}

.title {
  width: 130px;
  color: #fff;
  font-weight: 600;
  line-height: 28px; /* 175% */
  padding-bottom: 14px;
  border-bottom: 1px solid #59554b;
}
li > a {
  color: #bfbcb2;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  padding: 12px 0 12px;
}
.list li:first-child {
  margin-top: 28px;
}
.row {
  border-bottom: 1px solid #59554b;
}
.copyright {
  color: #807d74;
  text-align: center;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  padding: 28px 406px;
}
